body, html{
  height:100%;
  cursor: help;
}
body{
  margin: 0px;
  background-color: white;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}


.picture:hover {
  -webkit-transform:rotate(360deg);
}

.points {
  height: 50px;
  width: 50px;
  background-color: blue;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.timer {
  height: 50px;
  width: 50px;
  background-color: green;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.pointCollector:hover {
  cursor: crosshair;
}

.picture{
  border: none;
  border-radius: 0px;
  height: 170px;
  width: 100px;
  background-size: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}

.elaine1, .elaine2, .elaine3, .elaine4, .elaine5, .elaine6, .elaine7, .elaine8{
  background: url('pics/sprites.png') no-repeat;
}

.elaine1{
  background-position: -589px -3px ;
  width: 150px;
  height: 259px;
}

.elaine2{
  background-position: -879px 0;
  width: 150px;
  height: 259px;
}

.elaine3{
  background-position: -445px -3px ;
  width: 150px;
  height: 259px;
}

.elaine4{
  background-position: -736px -3px ;
  width: 150px;
  height: 259px;
}

.elaine5{
  background-position: 0 -3px ;
  width: 150px;
  height: 259px;
}

.elaine6{
  background-position: -152px -3px ;
  width: 150px;
  height: 259px;
}

.elaine7{
  background-position: -302px -3px ;
  width: 150px;
  height: 259px;
}

.elaine8{
  background-position: -1030px -3px ;
  width: 150px;
  height: 259px;
}

.explosion {
  background: url('pics/explosion.gif') no-repeat;
  width: 150px;
  height: 259px;
}

.discoball {
  background: url('pics/discoball.gif') no-repeat;
  width: 360px;
  height: 367px;
  background-size: 100%;
}