body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: white;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.picture{
  border: none;
  border-radius: 0px;
  height: 170px;
  width: 100px;
  background-size: 100%;
  background-image: url('pics/1.png');
  overflow: hidden;
  background-repeat: no-repeat;
}